<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mオークション_ホームページ</title>
    <link th:href="@{/css/homePage.css}" rel="stylesheet">
</head>
<body>
    <div class="header">
        <p class="title">Mオークション</p>
        <div class="seach">    
            <form>
                <P><label>全ての商品から探す<input type="text"><input class="seachIn" type="submit" value="検索"></label></P>
            </form>
        </div>
        <p class="login"><a href=login.html>ログイン</a><br><a href=memberRegist.html>会員登録へ</a></p>
    </div>
    <img th:src="@{/images/背景２.jpg}">
    <div class="intro">
        
        <h1>あなたのお持ちの商品、実は高価かも。。</h1>
        <div class="introHead">
            <p><span>月額〜〜円で出品・入札し放題！</span></p>
            <p>月額料金は初月無料、まずはお試しください♪</p>
            <div class="introContent">
                <div>
                    <p>選べる支払い方法</p>
                    <p1>クレカ、コンビニ、携帯料金など<br>様々な支払方法を準備</p1>
                </div>
                <div>
                    <p>モバペイ取引で安心</p>
                    <p1>お金は商品が届いてから<br>出品者に入金されます</p1>
                </div>
                <div>
                    <p>サポートが充実</p>
                    <p1>1年以下の運営実績<br>一人一人に細やかなサポート</p1>
                </div>
            </div>
        </div>


    </div>
    <div class="main">
        <div class="category">
            <p>カテゴリから探す</p>
            <ul>
                <li>自動車</li>
                <li>ファッション</li>
                <li>スポーツ、レジャー</li>
                <li>家電、AV</li>
                <li>コンピュータ</li>
                <li>おもちゃ、ゲーム</li>
                <li>本、雑誌</li>
                <li>音楽、CD</li>
                <li>映画、DVD</li>
                <li>コミック、アニメグッズ</li>
                <li>食品、飲料</li>
                <li>ビューティー、ヘルスケア</li>
                <li>ペット、生き物</li>
                <li>不動産</li>
            </ul>
        </div>
        <div>
            <p>ここに商品の写真表示</p>
        </div>
    </div>
    <!-- <textarea name="a" id="" cols="30" rows="10"></textarea> -->
    <div class="footer">
        <p class="title">Mオークション</p>
            <div class="seach">    
                <form>
                    <P><label>全ての商品から探す<input type="text"><input class="seachIn" type="submit" value="検索"></label></P>
                </form>
            </div>
            <p class="login"><a href=login.html>ログイン</a><br><a href=memberRegist.html>会員登録へ</a></p>
    </div>
    <div class="orverView">
        <p>カテゴリ一覧　ブランド｜女性ファッション｜男性ファッション｜女性アクセサリー/時計｜男性アクセサリー/時計香水/コスメ/ネイル｜
            キッズ/ベビー｜自動車｜バイク｜CD/DVD/ビデオゲーム本体/ソフト｜トレーディングカード｜アニメ/コミック/キャラクター｜おもちゃ｜
            家電/AV携帯電話/スマートフォン｜PC本体/周辺機器｜インテリア/ライフヘルス/ビューティーグルメ/ドリンク｜ホビー｜
            ペット/手芸/園芸レジャー/スポーツ本/雑誌｜タレントグッズ｜チケット/金券
            オークション <br>
            
            プライバシーポリシー　会員規約　会社概要　特定商取引法等に基づく表示　チャリティ実績　よくある質問　古物営業法に基づく表記
            　<br> © Mauction Corporation. All Rights Reserved.</p>
    </div>

</body>
</html>