<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MemberREgist</title>
    <link rel="stylesheet" th:href="@{/css/memberRegist.css}">
</head>
<body>
    <div class="header">
        <p class="title"><a href="/auction">Mオークション</a></p>
        <div class="seach">    
            <form>
                <P><label>全ての商品から探す<input type="text"><input class="seachIn" type="submit" value="検索"></label></P>
            </form>
        </div>
    </div>
    <div class="introHead">
        <p><span>月額〜〜円で出品・入札し放題！</span></p>
        <p>月額料金は初月無料、まずはお試しください♪</p>
    </div>    
    <div class="main">
        <p>会員登録ページ</p>
        <form action="">
            <label for="name">　　　名前　　<input type="text"></label><br>
            <br><label for="mail">メールアドレス<input type="text"></label><br>
            <br><label for="password">　パスワード　<input type="text"><br><p>＊20文字以下</p></label>
            <br><input class="mainSubmit"type="submit" value="登録">
        </form>
    </div>
    <div class="orverView">
        <p>カテゴリ一覧　ブランド｜女性ファッション｜男性ファッション｜女性アクセサリー/時計｜男性アクセサリー/時計香水/コスメ/ネイル｜
            キッズ/ベビー｜自動車｜バイク｜CD/DVD/ビデオゲーム本体/ソフト｜トレーディングカード｜アニメ/コミック/キャラクター｜おもちゃ｜
            家電/AV携帯電話/スマートフォン｜PC本体/周辺機器｜インテリア/ライフヘルス/ビューティーグルメ/ドリンク｜ホビー｜
            ペット/手芸/園芸レジャー/スポーツ本/雑誌｜タレントグッズ｜チケット/金券
            オークション <br>
            
            プライバシーポリシー　会員規約　会社概要　特定商取引法等に基づく表示　チャリティ実績　よくある質問　古物営業法に基づく表記
            　<br> © Mauction Corporation. All Rights Reserved.</p>
    </div>
</body>
</html>